.productquickviewvideo {
    width:100%;
}
.productquickviewvideoListing {
    width:100%;
}
.quickviewvideoModel {
    width:768px;
}
.quickviewvideoModelListing {
    width:100%;
}

.videoShowModal {
    width:100%
}
.quickviewvideoModelTag {
    width:100%
}
.videoShowModalListing {
    width:100%
}
.listingProductVideo {
    display: flex;
    justify-content: space-between;
}
.box-standard , .product-detail-content {
    .modal.fade.show {
        padding-top:50px;
    }
}

@media (max-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 0 auto;
    }
}
.modal-dialog {
    max-width: 800px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .modal-dialog {
        margin: 0 auto;
    }
    .quickviewvideo.leftBottom {
        transform: translate(120px,-21px) !important;
    }
    .quickviewvideo.rightTop {
        transform: translate(-27px, 5px) !important;
    }
}

@media (max-width: 1024px) {

    .quickviewvideo.rightTop {
        transform: translate(-25px, 5px) !important;
    }
}

@media (max-width: 425px) {

    .quickviewvideo.leftBottom {
        transform: translate(25px, -21px) !important;
    }
    .quickviewvideo.leftTop {
        transform: translate(25px, 5px) !important;
    }
}

@media (max-width: 375px) {

    .quickviewvideo.leftTop {
        transform: translate(24px, 5px) !important;
    }
    .quickviewvideo.leftBottom {
        transform: translate(25px, -21px) !important;
    }
}
.quickviewvideoListing.rightTop {
    position: absolute;
    z-index: 1;
    right: 0;
    transform: translate(-21px, 5px)
}

.quickviewvideoListing.leftTop {
    position: absolute;
    transform: translate(5px, 5px);
    z-index: 1;
}

.quickviewvideoListing.leftBottom {
    position: absolute;
    transform: translate(5px,-60px);
    z-index: 1;
}
.product-image-wrapper {
    position: relative;
}

.listingProductVideoBottom.leftBottom {
    position: absolute;
    top: 0%;
    transform: translate(10px, 155px);
}

.cms-element {
    position: relative;
}

.quickviewvideo.rightTop {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    transform: translate(-26px, 5px);
}

.quickviewvideo.leftTop {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    transform: translate(119px, 5px);
}
.quickviewvideo.leftBottom {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    transform: translate(120px, -21px);
}
.quickViewVideoUrl {
    width: 100%;
    height: 500px;
}

