<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Basic configuration</title>
        <title lang="de-DE">Grundlegende Konfiguration</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Configration for Product Listing Page</title>
        <title lang="de-DE">Konfigration für Produktlistenseite</title>
        <input-field type="bool">
            <name>productlistingpageActive</name>
            <label>Active</label>
            <label lang="de-DE">Aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>productlistingpage</name>
            <label>Position of Icon on Product Listing Page</label>
            <label lang="de-DE">Position des Symbols auf der Produktauflistungsseite</label>
            <defaultValue>rightTop</defaultValue>
            <options>
                <option>
                    <id>leftTop</id>
                    <name>Left-Top</name>
                    <name lang="de-DE">Links-Oben</name>
                </option>
                <option>
                    <id>leftBottom</id>
                    <name>Left-Bottom</name>
                    <name lang="de-DE">Links-Unten</name>
                </option>
                <option>
                    <id>rightTop</id>
                    <name>Right-Top</name>
                    <name lang="de-DE">Rechts-Oben</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>Configration for Product Detail Page</title>
        <title lang="de-DE">Konfigration für Produkt-Detailseite</title>
        <input-field type="bool">
            <name>productdetailpageActive</name>
            <label>Active</label>
            <label lang="de-DE">Aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>productdetailpage</name>
            <label>Position of Icon on Product Detail Page</label>
            <label lang="de-DE">Position des Symbols auf der Produkt-Detailseite </label>
            <defaultValue>rightTop</defaultValue>
            <options>
                <option>
                    <id>leftTop</id>
                    <name>Left-Top</name>
                    <name lang="de-DE">Links-Oben</name>
                </option>
                <option>
                    <id>leftBottom</id>
                    <name>Left-Bottom</name>
                    <name lang="de-DE">Links-Unten</name>
                </option>
                <option>
                    <id>rightTop</id>
                    <name>Right-Top</name>
                    <name lang="de-DE">Rechts-Oben</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
